body {
  padding-top: 55px;
  background: #f8f8f8;
}

.container {
  font-family: 'Rubik', sans-serif;
  height: 80vh;
}

.row {
  height: 100%;
}

#home-main h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

#home-main p {
  line-height: 1.5;
}

.container-fluid {
  font-family: 'Rubik', sans-serif;
  background: rgba(114, 186, 94, 0.05);
  max-width: 1800px;
  text-align: center;
}

.container-fluid li {
  font-size: 1rem;
  text-align: left;
  border: 2px dashed rgba(114, 186, 94, 0.35);
}

#services h4 {
  margin-bottom: 2px;
}

#tasks,
#calculator,
#database,
#desktop {
  margin-bottom: 5px;
  color: #233041;
  font-size: 5rem;
  width: 100%;
  height: 100%;
}

.card-header {
  font-size: 1rem;
}

.card-text {
  font-size: 1rem;
}
