body {
  padding-top: 55px;
  background: #f8f8f8;
}

.container {
  font-family: 'Rubik', sans-serif;
  height: 80vh;
}

.row {
  height: 100%;
}

#home-main h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

#home-main p {
  font-size: 1rem;
  font-weight: 700;
}

.container-fluid {
  font-family: 'Rubik', sans-serif;
  max-width: 1800px;
  text-align: center;
}

.container-fluid li {
  font-size: 1rem;
  text-align: left;
}

#tasks,
#calculator,
#database,
#desktop {
  min-height: 383px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-header {
  font-size: 2rem;
}

.card-title {
  text-transform: uppercase;
  font-weight: 700;
}

.card-text {
  font-size: 1rem;
}
